---
---

@import "{{ site.theme }}";

#main-content{
  
 width:100%;
  
}

header{

  padding-bottom:20px;
  padding-top:20px;
  
}

header span{
 
 color:white; 
 margin-right:30px;
 margin-top:20px;
 white-space:pre;
  
}

div.row{
  
  margin:auto;
  
}

img.enlarge:active {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 70% !important;
    max-height: 95vh;
    z-index: 1;
}

img.enlarge:active .bodydark{
  background:black !important;
  background-color:black !important;
  opacity:0.6;
  filter: brightness(50%);
}
