---
---

@import "{{ site.theme }}";

#main-content{
  
 width:100%;
  
}
body{
font-size:14px;
line-height:1.5;
}

a.buttonEdit {
	width: 202px;
	height: 100px;
	padding-top: 22px;
	padding-left: 68px;
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	font-size: 23px;
	line-height: 1.2;
	color: #fff
}
header{

  padding-bottom:20px;
  padding-top:20px;
  
}

header span{
 
 color:white; 
 margin-right:30px;
 margin-top:20px;
 white-space:pre;
  
}

div.row{
  
  margin:auto;
  
}

img.enlarge:active {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 70% !important;
    max-height: 95vh !important;
    z-index: 1;
}

footer {
  text-align:right;
}
