---
---

@import "{{ site.theme }}";

#main-content{
  
 width:100%;
  
}

header{

  padding-bottom:20px;
  padding-top:20px;
  
}

header span{
 
 color:white; 
 margin-right:30px;
 margin-top:20px;
  
}

div.row{
  
  margin:auto;
  
}

div.enlarge:hover{
  
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   text-align: center;
  
}

img.enlarge:active{
 
  max-width: 99%;
  max-height: 99%;
  z-index:1;
  
}
