---
---

@import "{{ site.theme }}";

#main-content{
  
 width:100%;
  
}

header{

  padding-bottom:20px;
  padding-top:20px;
  
}

header span{
 
 color:white; 
 margin-right:30px;
 margin-top:20px;
  
}

div.row{
  
  margin:auto;
  
}

.enlarge:active{
 
  left: 50%;
  margin:auto;
  max-width: 100vw;
  position: absolute;
  right: 50%;
  width: 100vw;
  z-index:-1;
}
